<ng-container *ngIf="parkingSpots">
  <div id="filters" class="sticky">
    <!-- Filter controls -->
    <mat-form-field>
      <mat-label>Vehicle Type</mat-label>
      <mat-select [(ngModel)]="selectedVehicleType">
        <mat-option value="All">All</mat-option>
        <mat-option value="FourWheeler">FourWheeler</mat-option>
        <mat-option value="BigVehicle">BigVehicle</mat-option>
        <mat-option value="TwoWheeler">TwoWheeler</mat-option>
        <mat-option value="Handicap">Handicap</mat-option>
      </mat-select>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Price Per Hour</mat-label>
      <mat-select [(ngModel)]="selectedPrice">
        <mat-option value="All">All</mat-option>
        <mat-option value="10">10</mat-option>
        <mat-option value="15">15</mat-option>
        <mat-option value="20">20</mat-option>
      </mat-select>
    </mat-form-field> -->

    <!-- Date Range Selection -->
    <!-- <mat-form-field>
    <mat-label>From Date</mat-label>
    <input matInput [matDatepicker]="fromDatepicker" [(ngModel)]="fromDate" formControlName="fromDate1">
    <mat-datepicker-toggle matSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #fromDatepicker></mat-datepicker> -->
    <!-- <mat-error *ngIf="dateForm.get('fromDate').hasError('required')">From Date is required</mat-error>
  <mat-error *ngIf="dateForm.get('fromDate').hasError('pastDate')">From Date cannot be in the past</mat-error> -->

    <!-- </mat-form-field> -->

    <!-- <mat-form-field>
    <mat-label>To Date</mat-label>
    <input matInput [matDatepicker]="toDatepicker" [(ngModel)]="toDate">
    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #toDatepicker></mat-datepicker>
  </mat-form-field> -->
    <h1>Parking Spot List</h1>
    <div class="filter-buttons">
      <button mat-raised-button (click)="applyFilters()">Apply Filters</button>
      <button mat-raised-button (click)="resetFilters()">Reset Filters</button>
    </div>
    <!-- Submit Button -->
    <!-- <button mat-raised-button (click)="submitDateRange()">Submit</button> -->
  </div>

  <div class="parkingSpotList">
    <table mat-table [dataSource]="parkingSpots" class="mat-elevation-z8">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let parkingArea">
          <!-- <button mat-icon-button (click)="bookParking(parkingArea)"> -->
          <button
            mat-raised-button
            (click)="moveToBooking(parkingArea)"
            color="primary"
          >
            Book
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="parkingSpotNumber">
        <th mat-header-cell *matHeaderCellDef>Spot Number</th>
        <td mat-cell *matCellDef="let parkingArea">
          {{ parkingArea.parkingSpotNumber }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let parkingArea"> {{ parkingArea.spotType }} </td>
        </ng-container> -->
      <ng-container matColumnDef="spotType">
        <th mat-header-cell *matHeaderCellDef>Vehicle Type</th>
        <td mat-cell *matCellDef="let parkingArea">
          {{ parkingArea.spotType }}
        </td>
      </ng-container>
      <!-- <ng-container matColumnDef="pricePerHour">
          <th mat-header-cell *matHeaderCellDef> Price Per Hour </th>
          <td mat-cell *matCellDef="let parkingArea"> {{ parkingArea.parkingSpotNumber }} </td>
        </ng-container> -->
      <!-- <tr mat-header-row *matHeaderRowDef="actions"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
      <tr
        mat-header-row
        *matHeaderRowDef="['parkingSpotNumber', 'spotType', 'actions']"
      ></tr>
      <tr
        mat-row
        *matRowDef="
          let row;
          columns: ['parkingSpotNumber', 'spotType', 'actions']
        "
      ></tr>
    </table>
  </div>
</ng-container>
