/* Style the table */
.tableEl{
  margin: 0px 0px 445px 0px;
}

.seeReviewBtn{
  margin: 9px 1px 8px 12px;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 20px;
  }

  /* Style the table header */
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  /* Style the table rows */
  tr {
    background-color: #f9f9f9;
  }

  /* Style the table cells */
  td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
  }

  /* Style alternating rows for better readability */
  tr:nth-child(even) {
    background-color: #ffffff; /* Use a different background color for even rows */
  }

  /* Style hover effect for table rows */
  tr:hover {
    background-color: #f5f5f5; /* Change the background color on hover */
  }
