
<button class="seeReviewBtn" mat-raised-button color="primary" (click)="navigateToReview()">See Review</button>
<table class="table-bordered table-hover table-responsive tableEl">
    <thead>
      <tr>
        <th>Booking ID</th>
        <th>User ID</th>
        <th>Spot ID</th>
        <th>Email ID</th>
        <th>Booking Date</th>
        <th>Check-In</th>
        <th>Check-Out</th>
        <!-- <th>Status</th> -->
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings">
        <td>{{ booking.bookingId }}</td>
        <td>{{ booking.userId }}</td>
        <td>{{ booking.spotId }}</td>
        <td>{{ booking.emailId }}</td>
        <td>{{ booking.booking_date | date:'medium' }}</td>
        <td>{{ booking.check_In | date:'medium' }}</td>
        <td>{{ booking.check_Out | date:'medium' }}</td>
        <!-- <td>{{ booking.status }}</td> -->
        <td>{{ booking.amount }}</td>
      </tr>
    </tbody>
  </table>
