<div class="container mt-5 mb-5">
  <table class="table table-bordered table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>User Id</th>
        <th>Provider Id</th>
        <th>Rating</th>
        <th>Review Description</th>
        <th>Booking Id</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody class="tbody">
      <tr *ngFor="let review of reviewDetails">
        <td>{{review.userId}}</td>
        <td>{{review.providerId}}</td>
        <td>{{review.rating}}</td>
        <td>{{review.reviewDesc}}</td>
        <td>{{review.bookingId}}</td>
        <td><button type="button" class="btn btn-danger" (click)="deleteReview(review)">Delete</button> </td>
      </tr>
    </tbody>
  </table>
</div>
