mat-card-actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
mat-card{
    width: 300px;
}
mat-card:hover{
transform: scale(1.05);
transition: 0.5s ease;
}
.areaName{
    color: black;
    font-weight: lighter;
    font-size: 1.25rem;
    text-decoration: none;
    margin-bottom: 20px;
}