.review-form {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
  .ratingDiv {
    margin-bottom: 15px; /* Adjust margin as needed */
  }

  .ratingDiv p {
    font-size: 1rem; /* Adjust font size as needed */
    color: #333; /* Text color for the rating label */
  }

  .ngx-star-rating {
    /* Add styles for the ngx-star-rating component */
    font-size: 24px; /* Adjust the size of the stars */
    color: #ffc107; /* Star color when active */
  }

  .ngx-star-rating .star {
    /* Style individual stars */
    color: #ccc; /* Default star color */
  }

  .ngx-star-rating .star.active {
    /* Style active stars */
    color: #ffc107; /* Star color when active */
  }

  .button-container {
    display: flex;
    justify-content: space-between; /* Add space between buttons */
    margin-top: 20px; /* Adjust the top margin as needed */
  }

  .full-width {
    margin-top: 15px;
    width: 300px;
  }

  .ratingDiv {
    width: 300px;
  }

  .ratingDiv p {
    margin-left: 31px;
    font-size: 1.2rem; /* Adjust font size as needed */
    color: #333; /* Text color for the rating label */
    text-align: left; /* Align the text inside p tags to the left */
    font-style: italic;
  }

  button.mat-raised-button {
    /* Your existing button styles */
    flex: 1;
  }

  .cancel-button {
    margin-right: 10px; /* Adjust the margin as needed */
  }


.review-form h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 15px;
}

.mat-form-field .mat-input-element {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
}

textarea.mat-input-element {
  min-height: 100px;
}

button.mat-raised-button {
  flex: 1;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button.mat-raised-button:hover {
  background-color: #0056b3;
}
